<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="card hovercard">
    <%if @user.photos.any?%>
      <%bg = @user.random_picked_photo.image.url%>
     <%else%>
      <%bg = 'http://lorempixel.com/850/280/nature/4/'%>
    <%end%>
    <div class="cardheader" style="background: url(<%=bg%>);background-size:cover;height:135px;"></div>
    <div class="avatar">
        <!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> -->
        <%=image_tag @user.avatar.url(:medium)%>
    </div>
    <div class="info">
        <div class="title">
            <a target="_blank" href="http://scripteden.com/"><%=@user.full_name%></a>
        </div>
        <div class="desc"><%=@user.about_me%></div>
    </div>
    <div class="bottom">
        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
            <i class="fa fa-behance"></i>
        </a>
    </div>
</div>
