<div class="item <%='active' if qoute_counter == 0 %>">
  <center>
    <blockquote>
      <h3><%=qoute.description%></h3>
      <footer><%=qoute.author%></footer>
    </blockquote>
  </center>
</div>
