<div class="row">
  <div class="col-md-12">
      <ul class="list-inline list-unstyled">
      <%@setting.instagram_photos.each do |item|%>
      <%#=item.inspect%>
          <li><%=link_to feature_artists_url(ig_id: item["id"]) do%><%=image_tag item["images"]["thumbnail"]["url"]%><%end%></li>
      <%end%>
    </ul>
        <%#=@setting.inspect%>
  </div>
</div>
<%=render partial: "home/carousel"%>
<%#=session[:setting].qoutes%>
<%=render partial: "photos/gallery" if @photos%>
<%#=render partial: "photos/quotecarousel"%>
