<div class="wrapper row2">
  <div class="clear">
    <div id="about-us" class="clear">
      <div id="about-intro" class="clear">
        <h2>About Us</h2>
        <img src="" alt="" />
        <p>Art Cartridge is a talented community inspiring positivity through various artistic passions.</p>
      </div>
    
    </div>
  </div>
</div>