 <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" class="img-responsive" />
                    <span class="post-title"><b>Birds</b><br />
                        </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Keith</b> |
                        <time datetime="2014-01-20">February 10th, 2017</time>
                    </div>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://nikonrumors.com/wp-content/uploads/2014/03/Nikon-1-V3-sample-photo.jpg" class="img-responsive" />
                    <span class="post-title"><b>Droplets</b><br />
                        </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Ashley</b> |
                        <time datetime="2014-01-20">February 10th, 2017</time>
                    </div>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" class="img-responsive" />
                    <span class="post-title"><b>Parrots</b><br />
                        </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Roland</b> |
                        <time datetime="2014-01-20">February 10th, 2017</time>
                    </div>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>