<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4">
    <%= commontator_thread(@featured_artist) %>
  </div>
  <div class="clear-fix"></div>
  <div class="col-md-12"></div>
    <h3>More Featured Artist</h3>
      <div class="row grid">
        <%@featured_artists.each do |user|%>
          <div class="col-md-3 grid-item">
              <%=user.inspect%>
          </div>
          <%end%>
      </div>

  </div>
</div>
