.comments-area{
  color: white;
  padding: 5px;
  margin: 5px;
  span.comment_commontator{
    color: #337ab7;
  }
  .comment{
    // background-color: #424040;
  }
  .comment_body{

  }

}
.art-analysis-area{
  // color: white;
}

.comments-area-form{
  [name="commit"]{
      // width:1px;
      // word-wrap: break-word;
      // //font-family: monospace; /* this is just for good looks */
      // white-space:pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
    // color: black;
  }
}
