<div id="gallery" class="masonry wrapper">
    <%option ||= 0%>
    <%= render partial: "photos/photo", collection: @photos, locals: { option:  option }%>
</div>
<div class="row">
    <div class="col-md-12 loading-area" align="center">
        <!--loading area here-->
    </div>
    <div class="pagination col-md-12">
        <%= link_to_next_page(@photos, 'Load More', :remote => true, class: "load-more") %>
    </div>
</div>
