<%@photos.each do |photo|%>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <%=image_tag photo.image.url() %>
        <div class="overlay">
           <h2>by: <%=link_to user_url(photo.user), method: :get do%>
            <%="@#{photo.user.username}"%>
            <%end%></h2>
           <a class="info" href="#">view</a>
        </div>
    </div>
</div>
<%end%>