<div class="row">

        <%if session[:page_type] == 1 %>
              <div class="col-md-12"><%=render partial: "modals/professional"%></div>
        <%else%>
              <div class="col-md-12"><%=render partial: "modals/community"%></div>
        <%end%>

</div>
