<div class="modal-body">
    <div class="row">
        <div class="col-md-8 text-center">
            <%=image_tag @photo.image.url(:medium)%>
        </div>
        <div class="col-md-4">
            <textarea class="form-control" id="message-text" placeholder="Comment here..." style="margin-top:5px;margin-bottom:5px;"></textarea>
            <button type="button" class="btn btn-primary btn-xs" style="float:right">Add Comment</button>
        </div>
    </div>
</div>
