<div class="row">
    <div class="col-md-8 text-center">
        <%=image_tag @photo.image.url(:medium)%>
    </div>
    <div class="col-md-4">
        Comments here,,,

        add placeholers please

    </div>
</div>
