<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <%if session[:page_type] == 1 %>
            <%=render partial: "modals/professional"%>
        <%else%>
            <%=render partial: "modals/community"%>
        <%end%>
    </div>
</div>
