  <div class="row">
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://www.biography.com/.image/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE5NTU2MzE2NDA1MjcwMDI3/oscar-wilde-9531078-1-402.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p> Art is the most intense mode of individualism that the world has known. </p>
                  <small>Oscar Wilde</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://tce-live2.s3.amazonaws.com/media/media/8efcacb0-f7ec-457d-975f-2caa89099b99.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p> Rationalism is the enemy of art, though necessary as a basis for architecture.</p>
                  <small>Arthur Erickson</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/1/12/George_Edward_Moore.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>A great artist is always before his time or behind it.</p>
                  <small>George Edward Moore</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
