
  <!-- <div class="row rowitem">
    <%#@photos.each do |photo|%>
    <div class="item well">

      <%#=image_tag photo.image.url(:medium), class: "imageclass"%>
      <p><%#=photo.description%></p>
    </div>
    <%#end%>
  </div> -->


  <div id="gallery" style="display:none;">

      <%@photos.each do |photo|%>
          <%=image_tag photo.image.url(:medium), data: { image: photo.image.url, description: photo.description } %>

        <%end%>
	</div>
