<br><br>
<div class="container">
  <h1>Grid Image view sample</h1>
  <div class="row">
    <%@photos.each do |photo|%>
    <div class="item well">
      <!-- <img class="imageclass" src="https://instagram.fmnl4-3.fna.fbcdn.net/t51.2885-15/e35/16229231_179809762503704_6362055912202436608_n.jpg" alt=""> -->
      <%=image_tag photo.image.url, class: "imageclass"%>
      <p>Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. Sample 1 Text. </p>
    </div>
    <%end%>
  </div>
</div>
