  <div class="row clearfix">
     <div class="col-md-8 col-md-offset-2 column">
    
        <%=render partial: "photos/dropzone_form"%>
       <%#=render partial: "photos/form"%>
      </div>
  </div>
