body{background-color: #fff;}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #f14444; /* social icon hover color */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #F4F4F4;
  border-top: 2px solid #f14444;
}
