// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*:before,
*:after {
	box-sizing: border-box;
}

.rowitem {
	/* column width */
	-moz-column-width: 19em;
	-webkit-column-width: 19em;

	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.item {
	display: inline-block;
	width: 100%;
}

.imageclass{
	display: inline-block;
	width: 100%;
}

#main {
	margin-top: 70px;
}
