.wrapper {
    // width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 0.5em;
    font-size: .85em;
    overflow: hidden;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 0.5em;
    margin: 0 0 0.5em;
    width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}


// @media only screen and (min-width: 1280px) {
//     .wrapper {
//         width: 1150px;
//     }
// }
.load-more{
  font-weight: 700;
    display: block;
    margin: 2em 0 0;
    padding: 1.25em;
    text-align: center;
    color: #CAD0DC;
    border: 3px solid #D1D8DE
}
