// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

#gallery {
  a {
    text-decoration: none;
    color: #000;

  }
  .caption{
    padding: 5px;
  }

}

.blur{
  filter: blur(3px);
  // -webkit-filter: blur(2px);
  // -webkit-filter: blur(10px);
  // -moz-filter: blur(10px);
  // -o-filter: blur(10px);
  // -ms-filter: blur(10px);
}
.hightlighted_vote{
  color: blue;
}
.unhightlighted_vote{
  color: black;
}
img.expandable-image {
  background: url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') no-repeat;
}

.art-analysis-area{
  dl{
  font-size: 15px;
  }
  dd{  border-bottom: thick dotted #ff0000; }
  dt{  border-bottom: thick dotted #ff0000; }
}
