// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

#gallery {
  a {
    text-decoration: none;
    color: #000;

  }
  .caption{
    padding: 5px;
  }

}
