$size: 24px;

.social-share-button {
  height: 24px;
  line-height: 24px;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin-left: 5px;
    line-height: $size;
    margin-top: 12px;
  }
}
