$size: 28px;

.social-share-button {
  height: 28px;
  line-height: 28px;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin-left: 5px;
    line-height: $size;
    margin-top: 8px;
  }
}
