<div class="photo item">
      <label align="center">
        <%=image_tag photo.image.url(:medium), style: "width: 100%;" %>
        <%= radio_button_tag(object_name, photo.id) %>
      </label>
</div>
