<li><%=link_to "Show Profile", user_path(current_user)%></li>
<li><%=link_to "Edit Profile", user_profile_path(current_user)%></li>
<li><a href="#">Change Password</a></li>
<li class="divider"></li>
<li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
