<li><%=link_to "Community Page", community_page_url(subdomain: "#{current_user.slug}")%></li>
<li><%=link_to "Professional Page", professional_page_url(current_user, subdomain: "#{current_user.slug}")%></li>
<li class="divider"></li>
<li><%=link_to "Edit Profile", user_profile_path(current_user)%></li>
<li><a href="#">Change Password</a></li>
<li class="divider"></li>
<li><%=link_to "Logout", destroy_user_session_path(subdomain: false), method: :delete %></li>
