<%#=social_share_button_tag(@photo.title, :url => photo_url(@photo), :image => @photo.image.url, desc: @photo.description, via: "artcartridge")%>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world">
Tweet</a>
